@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap');
body {
    background: #3f3f3f;
    color: #DCDCCC;
}

img {
    width: 80%;
}


#preview {
    float: left;
    background-color: #333333;
    width: 99%;
}

#editor {
    width: 99%;
    height: 99%;
    background-color : black; 
    font-family: 'Source Code Pro', monospace;
    color: #4AF626;
}

img {
    width: 50%;
}

.row a {
    color: pink;
    text-decoration: none;
}
h1 {
    font-size: 1.3em;
}
h2 {
    font-size: 1.1em;
}

/* tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .col-md-6 {
        width: 99%;
    }
}
